* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loginBox {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    344deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(40, 0, 131, 1) 63%,
    rgba(97, 50, 207, 1) 100%
  );

  height: 37.5rem;
  width: 25rem;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 18px 13px 21px -1px rgba(0, 0, 0, 0.75);
}

#logoNtitle {
  transition: position 0.6s ease-in-out, margin-bottom 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  cursor: pointer;
  height: 100px;
  transition: all ease-in-out 0.5s;
}

#loginArea {
  margin-top: 7rem;
  transition: all ease-in 0.3s;
  font-size: 20px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.5s;
}

#usernameLabel,
#passwordLabel {
  margin-right: 5px;
  font-weight: bold;
  padding-bottom: 0.2rem;
  transition: all ease-in-out 0.5s;
}

#usernameBox {
  margin-bottom: 2rem;
  transition: all ease-in-out 0.5s;
}

#usernameBox,
#passwordBox {
  width: 18rem;
  border-radius: 0.5rem;
  height: 1.8rem;
  background-color: rgb(193, 171, 243);
  border: none;
  padding-left: 0.4rem;
  transition: all ease-in-out 0.5s;

  &:focus {
    outline: none;
    background-color: rgb(231, 221, 255);
  }

  &::placeholder {
    color: rgb(58, 58, 58);
  }
}

#forgottenPass,
#createAccount {
  text-decoration: none;
  color: rgb(172, 144, 239);
  font-size: 0.8rem;
  margin-top: 0.1rem;
  transition: all ease-in-out 0.5s;

  &:hover {
    color: rgb(196, 175, 247);
  }
}

#subtexts {
  width: 18rem;
  display: flex;
  justify-content: space-between;
}

#enterButton {
  width: 7rem;
  font-size: 1.3rem;
  height: 3rem;
  margin-top: 5rem;
  margin-left: 6rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: white;
  transition: 0.5s;
  background-color: #8257e5;

  &:hover {
    background-color: #633bbc;
  }
}

#mapContainer {
  width: 100%;
  height: 100vh;
  padding: 0 16rem;
}

#map {
  width: 100%;
  height: 480px;
}

#description {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  text-align: center;
}
